<?php

require_once './src/CsFixer/Config.php';

$config = new Medani\Prestashop\CodingStyle\CsFixer\Config();

$config
    ->setUsingCache(true)
    ->getFinder()
    ->in(__DIR__)
    ->exclude('vendor');

return $config;
